@tailwind base;
@tailwind components;
@tailwind utilities;

#root > div > div > div:nth-child(2) > div.carousel-root > div:nth-child(2) > div > ul{
    display: flex !important ;
    justify-content: center !important ;
    align-items: center !important ;

}

#root > div > div > div:nth-child(2) > div.react-tabs > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
